# Porta onde o fastify vai rodar
PORT=
# Token do bot, pegue com o @BotFather
TOKEN_BOT=
# URL do backend, onde o bot vai enviar as requisições.
BACKEND_URL=
# uri do redis, exemplo: redis://localhost:6379
REDIS_URI=
# uri do mongoDB
DATABASE_URI=